.card {
  background-color: var(--color-bg-second);
  width: 100%;
  border-radius: var(--radius-md);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.movements {
  width: 100%;
}

.noData {
  color: gray;
  text-align: center;
}
