.card {
  background-color: var(--color-bg-second);
  display: flex;
  justify-content: left;
  gap: 10px;
  width: 100%;
  border-radius: var(--radius-md);
  height: 100px;
}

.stattitle {
  color: var(--color-navbar-secondary);
  font-size: 16px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.statnumber {
  font-size: 20px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-bg-third);
  border-radius: 10px;
}

.icon svg {
  fill: var(--color-primary);
  width: 30px;
  height: 30px;
}
