/* Test.module.css */
.testContainer {
  padding: 20px;
}

.cardContainer {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
