.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(65% 30% at 50% -10%, #1bd96a40 0, #000000 100%);
}

.content {
  flex: 1;
  padding: var(--spacing-medium);
}
