.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-bg);
  }
  
  .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgLogo{
    width: 150px;
  }

  .card {
    width: 100%;
    max-width: 400px;
    padding: var(--spacing-large);
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: var(--spacing-large);
    color: var(--color-titles);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
  }
  
  .errorMessage {
    color: var(--color-danger);
    text-align: center;
    margin-top: var(--spacing-small);
  }

  .linkButton:hover{
    color: blue;
  }
  .linkButton:hover{
    color: red;
  }