.selectContainer {
  position: relative;
  margin-bottom: var(--spacing-medium);
}

.label {
  display: block;
  margin-bottom: var(--spacing-small);
  color: var(--color-primary);
}

.selectWrapper {
  position: relative; /* Asegura que el icono esté en la posición correcta */
  display: flex;
  align-items: center; /* Alinea el contenido verticalmente */
  justify-content: space-between; /* Deja espacio entre la opción seleccionada y la flecha */
  padding: auto;
  background-color: #18181b;
  border-radius: 12px;
  padding:  0px var(--spacing-large) 0px var(--spacing-large) ;
}

.select {
  width: 100%;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-base);
  color: var(--color-text);
  cursor: pointer;
  transition: border-color var(--transition-duration) var(--transition-easing);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:focus {
  border-color: var(--color-primary);
  outline: none;
}

.select.error {
  border-color: var(--color-danger);
}

.small {
  padding: var(--spacing-small);
  font-size: var(--font-size-small);
}

.medium {
  padding: var(--spacing-medium);
  font-size: var(--font-size-base);
}

.large {
  padding: var(--spacing-large);
  font-size: var(--font-size-large);
}

.arrowIcon {
  color: var(--color-text-secondary);
  transition: transform var(--transition-duration) var(--transition-easing);
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 200px; /* Limitar altura si es necesario */
  overflow-y: auto;  /* Permite desplazarse si hay muchas opciones */
  scrollbar-width: thin; /* Establece el grosor de la barra de desplazamiento */
  scrollbar-color: var(--color-primary) var(--color-bg); /* Color de la barra de desplazamiento y del fondo */
}

/* Para navegadores Webkit (Chrome, Safari, etc.) */
.optionsMenu::-webkit-scrollbar {
  width: 8px; /* Grosor de la barra de desplazamiento */
}

.optionsMenu::-webkit-scrollbar-track {
  background-color: var(--color-bg); /* Color del fondo del track */
  border-radius: 4px; /* Bordes redondeados en el track */
}

.optionsMenu::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* Color de la barra de desplazamiento */
  border-radius: 4px; /* Bordes redondeados de la barra */
  border: 2px solid var(--color-bg); /* Borde del thumb */
}

/* Efecto de hover sobre el thumb */
.optionsMenu::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-hover); /* Color cuando el usuario pasa el mouse sobre el thumb */
}

.option {
  padding: var(--spacing-small) var(--spacing-medium);
  cursor: pointer;
  color: var(--color-text);
  display: flex;
  justify-content: space-between; /* Alinea el texto y el ícono */
  align-items: center;
}

.option:hover {
  background-color: gray;
}

.option:active {
  scale: 0.98;
}

.selectedOption {
  background-color: gray; /* Fondo para la opción seleccionada */
  font-weight: bold; /* Resaltar texto de la opción seleccionada */
}

.checkIcon {
  color: var(--color-primary); /* Color del ícono de check */
  margin-left: var(--spacing-small); /* Espacio a la izquierda del ícono */
  font-size: 16px; /* Tamaño del ícono */
}

.errorMessage {
  color: var(--color-danger);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-small);
}

.errorContainer {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
