/* Estilos base del botón */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-base);
  font-weight: 600;
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-easing);
  text-decoration: none;
  color: #231c1c;
  background-color: var(--color-primary);
  position: relative; /* Necesario para la animación de ::after */
  overflow: hidden; /* Para asegurarnos de que el círculo no se salga del botón */
}

/* Variantes de color */
.button.primary {
  background-color: #39DB7D;
  color: #231c1c;
}

.button.secondary {
  background-color: #006fee;
  color: #ffffff;
}

.button.danger {
  background-color: var(--color-danger);
}

/* Variante outline */
.button.outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.button.outline:hover {
  background-color: var(--color-primary);
  color: #fff;
}

/* Tamaños */
.button.small {
  padding: var(--spacing-small);
  font-size: var(--font-size-small);
}

.button.medium {
  padding: var(--spacing-medium);
  font-size: var(--font-size-base);
}

.button.large {
  padding: 14px;
  font-size: var(--font-size-large);
}

/* Estado deshabilitado */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
