.tabsContainer {
  display: flex;
  gap: 16px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab.active {
  color: #000;
}

.bubble {
  background-color: #fff; /* Color de la burbuja */
  mix-blend-mode: difference; /* Cambia el color al hacer la mezcla con el fondo */
  pointer-events: none;
}
