.linkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small); /* Espacio entre el ícono y el texto */
  text-decoration: none;
  border: 1px solid var(--color-navbar);
  outline: 1px solid var(--color-navbar);
  outline-offset: -1px; /* Mueve el outline hacia adentro */
  color: var(--color-navbar-secondary);
  background-color: transparent;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-easing);
}

.linkButton:hover {
  background-color: var(--color-navbar);
}
.linkButton:hover span{
  color: #fff;
}
.linkButton:hover .icon svg {
  fill: #39DB7D;
}

.linkButton.solid {
  background-color: var(--color-navbar);
  color: #fff;
  border-color: var(--color-navbar);
}

.linkButton.small {
  padding: var(--spacing-small);
  font-size: var(--font-size-small);
  border-radius: 100px;
}

.linkButton.medium {
  padding: var(--spacing-medium);
  font-size: var(--font-size-base);
  border-radius: 30px;
}

.linkButton.large {
  padding: var(--spacing-large);
  font-size: var(--font-size-large);
  border-radius: 40px;
}

.icon svg {
  width: 20px;
  fill: var(--color-navbar-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkButton.solid .icon svg {
  fill: #39DB7D; /* Cambia el color del ícono */
}